.heroSection_beforeName_english {
  font-size: 6vmin;
  font-family: var(--font-qc);
}

.heroSection_beforeName_chinese {
  font-size: 5vmin;
  font-family: var(--font-chinese);
}

.heroSection_name_english {
  font-size: 8vmin;
  font-weight: bolder;
}

.heroSection_name_chinese {
  font-size: 6vmin;
  font-weight: bolder;
  font-family: var(--font-chinese);
  margin-top: -20px;
  margin-bottom: 9px;
}

.heroSection_subtitle_english {
  font-family: var(--font-u);
}

.heroSection_subtitle_chinese {
  font-family: var(--font-chinese);
}

@media only screen and (max-width: 1024px) {
  .heroSection_name_chinese {
    margin-top: -26px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .heroSection_name_chinese {
    margin-top: -19px;
  }
}

@media only screen and (max-width: 430px) {
  .heroSection_subtitle_english {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 377px) {
  .heroSection_subtitle_english {
    margin-bottom: 20px;
  }
}
