@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;500;600;700;900&family=Racing+Sans+One&family=Rye&family=The+Nautigal:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

:root {
  /* --body-bg-color1: #282323; */
  --body-bg-color2: #121212;
  --color1: #0184ff;
  --color2: #bb01ff;
  --color5: #007aecc9;
  --color3: rgb(190, 190, 190);
  --color4: steelblue;
  --color5: #676fa1;
  background-color: var(--body-bg-color2);

  /* nav */
  --font-rso: "Racing Sans One", cursive;

  /* logo */
  --font-ry: "Rye", cursive;

  /* name */
  /* --font-q: "Quintessential", cursive; */

  /* common */
  --font-chinese: "Noto Serif TC", serif;
  --font-qc: "The Nautigal", cursive;
  --font-u: "Ubuntu", sans-serif;
}

/* section name  start */

.sectionName_div {
  margin-bottom: 50px;
  margin-top: 20px;
  position: relative;
}

.sectionName {
  text-align: center;
  color: var(--color5);
  font-size: 3rem;
  width: 40%;
  margin: auto;
  opacity: 0;

  animation: sectionName_animation 1s linear forwards;
}
@keyframes sectionName_animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sectionName_english {
  font-family: var(--font-rso);
  font-weight: 400;
}

.sectionName_chinese {
  font-family: var(--font-chinese);
  font-size: 27px;
  font-weight: 800;
  letter-spacing: 3px;
}

.sectionName_underline {
  border-top: 2px solid var(--color5);
  width: 40%;
  margin: auto;
}

.sectionName_underline::before {
  content: "";
  position: absolute;
  background: var(--body-bg-color2);
  /* background-color: red; */
  /* left: 0; */
  height: 30%;
  width: 20%;
  margin-top: -5px;

  animation: secionName_after_underline 1s linear forwards;
  animation-delay: 1s;
}
@keyframes secionName_after_underline {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.sectionName_underline::after {
  content: "";
  position: absolute;
  background: var(--body-bg-color2);
  /* background-color: red; */
  left: 50%;
  height: 30%;
  width: 20%;
  margin-top: -5px;

  animation: secionName_underline 1s linear forwards;
  animation-delay: 1s;
}

@keyframes secionName_underline {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* section name  end */

.responsive_Width {
  /* 
  padding-left: 8%;
  padding-right: 8%;  
  */
  max-width: 1400px;
  margin: 0 auto;
}

/* button start */
.buttonStyle {
  border: none;
  /* padding: 0.4rem 3rem; */
  border-radius: 5px;
  /* color: black; */
  color: whitesmoke;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(to right, #007aec, #ab00e9);
  transition: 0.2s;
  text-decoration: none;
}

.buttonStyle:hover {
  color: blanchedalmond;
  background-image: linear-gradient(to left, #007aec, #ab00e9);
  box-shadow: 5px 5px 10px rgba(181, 247, 0, 0.541);
  transform: scale(1.05) !important;
}

.buttonStyle:active {
  background-image: linear-gradient(to bottom, #0184ff, #bb01ff);
}

.buttonStyle_english {
  font-family: var(--font-u);
  padding: 0.4rem 3rem;
}

.buttonStyle_chinese {
  font-family: var(--font-chinese);
  font-weight: 500;
  padding: 0.3rem 4rem;
}

/* button end */

.section_divider_border {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.visitMessage {
  text-align: center;
  color: #d6d6d6e7;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 3.5vmin;
}

@media (max-width: 1440px) {
  .responsive_Width {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 1024px) {
  .responsive_Width {
    padding-left: 8%;
    padding-right: 8%;
  }
}

@media (max-width: 768px) {
  .responsive_Width {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 452px) {
  .responsive_Width {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 430px) {
  .visitMessage {
    font-size: 17px;
  }
}
